<style>
    a{
        color: #fff;
    }

    a:hover{
        text-decoration: none;
    }
</style>
<nav class="navbar navbar-inverse bg-dark">
 <div class="container-fluid">
    <div class="navbar-header">
        <a href="{{ path('home') }}" class="navbar-brand">
            <i class="fas fa-home"></i>
            Acceuil
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="#">Dashboard Admin</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="#">Connexion</a>
        </li>
    </ul>
 </div>
</nav>