{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Page d'acceuil</h1>
    <button href="#" class="btn btn-primary">
        <i class="fas fa-long-arrow-alt-left"></i>
        Retourner a l'acceuil
    </button>
{% endblock %}
